---
import './../styles/main.scss';
import './../styles/main.css';
import { SITE } from "../config";
const navItems = [
	{
		title: 'Core',
		description: 'Base colors, typography, and more.',
		url: '/core/introduction',
		img: '/Core.jpg'
	},
	{
		title: 'Components',
		description: 'The building blocks for our UI.',
		url: '/components/buttons',
		img: '/Components.jpg'
	},
	{
		title: 'Patterns',
		description: 'Common patterns for building interfaces.',
		url: '/patterns/introduction',
		img: '/Patterns.jpg'
	},
]

// Test
---



<div class="bg-blue-primary min-h-screen text-blue-primary">
	<header class="index-header">
		<div class="container">
			<div class="row">
				<div class="col col-12-xl col-12-xxs">
					<div>
						<img src="/astro-design-system-logo.svg" alt="University of St Andrews Logo">
					</div>
					<h1 class=" text-light-grey-2">{SITE.title}</h1>
					<p class="text-light-grey-2">{SITE.description}</p>
				</div>
			</div>
		</div>
	</header>
	<nav>
		<ul>
			<div class="container">
			<div class="row">
		{
			navItems.map(({ title, description, url, img }) => (
				<a href={url} class="col col-4-md bg-light-grey-1 nav-link">
					<img src={img} alt={title}>
					<h2>{title}</h2>
					<p class="text-blue-25-shade">{description}</p>
				</a>
			))
		}
			</div>
		</div>
		</ul>
	</nav>
</div>


<script is:inline>
</script>
