---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';
import * as CONFIG from '../config';
import '../styles/main.scss';

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
// const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
---

<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={new URL(Astro.url.pathname, Astro.site)} />
		<title>{content.title ? `${content.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
	</head>

	<body class="bg-light-grey-2">
		<div>
			<Header currentPage={currentPage} />
		</div>
		<div class="container">
			<div class="col col-4-lg col-12-xs h-screen">
				<div style="margin-top: 1rem;">
					<LeftSidebar currentPage={currentPage} />
				</div>
			</div>
			<main class="col col-8-lg col-12-xs">
				<div>
					<PageContent content={content}>
						<slot />
					</PageContent>
				</div>
			</main>

		</div>
	</body>
</html>

